<form autocomplete="off"
    (ngSubmit)="save()"
    [formGroup]="miForm">
<div fxLayout="row"
     fxLayoutGap="200px"
     fxLayout.xs="column">
     <div fxFlex='100' 
          fxLayout="column">
          <div fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="20px">
            <mat-form-field fxFlex='100'
                            fxLayout.xs="column">
                <mat-label>
                    Id Compra:
                </mat-label>
                  <input matInput 
                         type="number" 
                         placeholder=""
                         formControlName="idCompra"
                         readonly
                         >
            </mat-form-field>
         </div>
         </div>

         <div fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="20px">           
            <mat-form-field fxFlex='100'
                            fxLayout.xs="column">
                <mat-label>
                    DNI/CUIT Proveedor:
                </mat-label>
                <mat-select formControlName="idProveedor" >
                    <mat-option *ngFor="let provider of providers" [value]="provider.idProvider">
                        {{provider.idCuit_Dni}}
                    </mat-option>
                </mat-select>       
                  <span class="form-text text-danger"
                    *ngIf="hasError('idProveedor')" >
                    Debe elegir una opción
                </span>  
            </mat-form-field>
        </div>

        <div fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="20px">
            <mat-form-field fxFlex='100'
                            fxLayout.xs="column">
                <mat-label>
                    Total Compra:
                </mat-label> 
                  <input matInput 
                         type="text" 
                         placeholder=""
                         formControlName="totalCompra"
                         >
                          <span class="form-text text-danger"
                               *ngIf="hasError('totalCompra')" >
                               Este campo es obligatorio
                        </span> 
            </mat-form-field>
         </div>   
        </div>       

         <div fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="20px">
            <mat-form-field fxFlex='100'
                            fxLayout.xs="column">
                <mat-label>
                    fecha:
                </mat-label> 
                  <input matInput 
                         type="text" 
                         placeholder=""
                         formControlName="fecha"
                         >
                        <span class="form-text text-danger"
                               *ngIf="hasError('fecha')" >
                               Este campo es obligatorio
                        </span> 
            </mat-form-field>
         </div>     

            <div fxLayout> 
                <button mat-raised-button
                        color="primary"
                        type="submit"
                        [disabled]="miForm.invalid">
                    <mat-icon>edit</mat-icon>
                    Guardar
                </button> 
                <button mat-raised-button
                        color="primary"
                        (click)="goBack()">
                    <mat-icon>back</mat-icon>
                    Atras
                </button>           
            </div>
</form> 
