<mat-form-field class="example-full-width">
    <input type="text" 
       class="form-control"
       matInput 
       aria-label="Narrow your search"
       placeholder="Buscar Productos..."
       (keyup.enter)="SearchByName()"
       #txtBuscar> 
       
</mat-form-field>

<button mat-button type="button" class="btn btn-primary" #buttonBuscar (click)="SearchAll()">Obtener productos</button>
<button mat-button type="button" class="btn btn-primary" #buttonClear (click)="Clear()">Borrar historial</button>
