<div class="container">
    <div class="form-wrapper">
      <form autocomplete="off" (ngSubmit)="save()" [formGroup]="miForm">
        <h2 class="title">Crear Compra</h2>
  
        <mat-form-field appearance="fill">
          <mat-label>Proveedor</mat-label>
          <mat-select formControlName="idProveedor" required>
            <mat-option *ngFor="let provider of providers" [value]="provider.idProvider">
              {{ provider.idCuit_Dni }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="idProveedorError()">Selecciona un proveedor</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Total Compra</mat-label>
          <input matInput formControlName="totalCompra" [value]="calculateTotalCompra()" readonly>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="miForm.get('fecha')?.touched && miForm.get('fecha')?.errors?.['required']">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
  
        <div formArrayName="detallesCompra">
          <div *ngFor="let detalleCompra of purchaseDetails.controls; let i = index" [formGroupName]="i">
            <h4>Detalle de Compra {{ i + 1 }}</h4>
  
            <mat-form-field appearance="fill">
              <mat-label>Producto</mat-label>
              <mat-select formControlName="idProducto" required>
                <mat-option *ngFor="let product of products" [value]="product.idProducto">
                  {{ product.nombreProducto }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="detalleCompra.get('idProducto')?.touched">
                Selecciona un producto
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill">
              <mat-label>Precio</mat-label>
              <input matInput formControlName="precio" required>
              <mat-error *ngIf="detalleCompra.get('precio')?.invalid && detalleCompra.get('precio')?.touched">
                Ingresa un precio válido
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill">
              <mat-label>Cantidad</mat-label>
              <input matInput formControlName="cantidad" required>
              <mat-error *ngIf="detalleCompra.get('cantidad')?.invalid && detalleCompra.get('cantidad')?.touched">
                Ingresa una cantidad válida
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill">
              <mat-label>Retención</mat-label>
              <input matInput formControlName="retencion">
              <mat-error *ngIf="detalleCompra.get('retencion')?.invalid && detalleCompra.get('retencion')?.touched">
                Ingresa una retención válida
              </mat-error>
            </mat-form-field>
  
            <button mat-icon-button color="warn" (click)="removePurchaseDetail(i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
  
        <button mat-raised-button color="primary" type="button" (click)="addPurchaseDetail()">Agregar Detalle</button>
  
        <div class="button-group">
          <button mat-raised-button color="primary" type="submit">Guardar</button>
          <button mat-raised-button color="accent" (click)="goBack()">Volver</button>
        </div>
      </form>
    </div>
  </div>
  
