<h2>Nuevo Producto:  </h2>
<hr>
<div class="row">
    <div class="col">
        <form autocomplete="off"
              (ngSubmit)= "save()"
              [formGroup]="miForm">
              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Codigo</label>
                <div class="col-sm-9">
                  <input type="text" 
                         class="form-control" 
                         placeholder="Ingresar Id producto"
                         formControlName = "idProducto" 
                         >
                         <span class="form-text text-danger"
                               *ngIf="idProductoError()"> 
                            Minimo 3 letras
                        </span>
                </div>
            </div>              

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Tipo Producto</label>
                <div class="col-sm-9">
                    <select name="dropdown" 
                         class="form-control"
                         formControlName="idTipoProducto">
                        <option value="0" selected></option>
                        <option value="1" >Pantalon</option>
                        <option value="2">Campera</option>
                        <option value="3">Media</option>
                        <option value="4" >Camisa</option>
                        <option value="8">Camison</option>
                    </select>                         
                    <span class="form-text text-danger"
                          *ngIf="idTipoProductoError()">
                        Seleccionar Tipo Producto
                    </span>
                </div>
            </div>            

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Stock Actual</label>
                <div class="col-sm-9">
                  <input type="number" 
                         class="form-control" 
                         placeholder="Ingresar Stock Actual"
                         formControlName="stockActual">
                         <span class="form-text text-danger"
                               *ngIf="stockActualError()">
                            Stock Actual mayor o igual que cero
                         </span>                         
                </div>
            </div>            
           
            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <div class = "row">
    <div class = "col">
        <span>Value</span>
        <pre>{{miForm.value | json }}</pre>
    </div>
</div>
<div class = "col">
    <span>Custom</span>
    <pre>{{miForm.controls.stockActual.errors| json}}</pre>
</div> -->
    <div class="row">
    <span>Valid</span>
    <pre>{{miForm.valid}}</pre>

    <span>Value</span>
    <pre>{{miForm.value | json}}</pre>

    <span>Pristine</span>
    <pre>{{miForm.pristine}}</pre>        
    <span>Touched</span>
    <pre>{{miForm.touched}}</pre>       

    <span>Custom</span>
    <pre>{{miForm.controls.stockActual?.errors| json}}</pre>      

</div>               
