<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
      <mat-toolbar color="primary">
          <span>Menu</span>
          <span class="spacer"></span>
          <button mat-icon-button
                  (click)= "sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
      </mat-toolbar>      
      

      
      <mat-nav-list>
          <a  routerLink="/Dirección/buscar" 
              mat-list-item
              (click)= "sidenav.toggle()">
              <mat-icon mat-list-icon>chevron_right</mat-icon>
              Dirección
          </a>               
           <a  routerLink="/persona/buscar" 
              mat-list-item
              (click)= "sidenav.toggle()">
              <mat-icon mat-list-icon>chevron_right</mat-icon>
              Personas
          </a> 
          <a  routerLink="/productos/buscar" 
              mat-list-item
              (click)= "sidenav.toggle()">
              <mat-icon mat-list-icon>chevron_right</mat-icon>
              Productos
          </a> 
      </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
      <button mat-icon-button
              (click)= "sidenav.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <span>Chocho</span>
        
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
      <router-outlet></router-outlet>
  </mat-sidenav-container>
  

</mat-sidenav-container> 
