<div class="container">
    <div class="form-wrapper">
<form autocomplete="off"
    (ngSubmit)="save()"
    [formGroup]="miForm">
<div fxLayout="row"
     fxLayoutGap="200px"
     fxLayout.xs="column">
     <div fxFlex='100' 
          fxLayout="column">
          <h3 class="h3 mb-3 fw-normal" style="color: gray">Agregar detalle de venta:</h3>
          <div fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="20px">           
        <mat-form-field fxFlex='100'
                        fxLayout.xs="column">
            <mat-label>
               Id Venta: 
            </mat-label>
            <mat-select formControlName="idVenta">
                <mat-option *ngFor="let sale of sales" [value]="sale.idVenta">
                    {{sale.idVenta}}
                </mat-option>
            </mat-select>       
            <span class="form-text text-danger"
                *ngIf="idVentaError()" >
                Debe elegir una opción
            </span>
        </mat-form-field>
    </div>

    <div fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="20px">           
  <mat-form-field fxFlex='100'
                  fxLayout.xs="column">
      <mat-label>
         Producto: 
      </mat-label>
      <mat-select formControlName="idProducto">
          <mat-option *ngFor="let product of products" [value]="product.idTipoProducto">
              {{product.descripcion}}
          </mat-option>
      </mat-select>       
      <span class="form-text text-danger"
          *ngIf="idProductoError()" >
          Debe elegir una opción
      </span>
  </mat-form-field>
</div>

<div fxLayout="row"
fxLayout.xs="column"
fxLayoutGap="20px">   
<mat-form-field fxFlex='100'
               fxLayout.xs="column">
   <mat-label>
       Precio:
   </mat-label>
   <input matInput 
           type="number" 
           placeholder="Ingresar precio"
           formControlName="precio"
           required>
           <div *ngIf="miForm.get('precio')?.touched && miForm.get('precio')?.errors?.['required']"
                  class="alert alert-danger">Este campo es obligatorio
           </div>
           <div *ngIf="miForm.get('precio')?.touched && miForm.get('precio')?.errors?.['min']"
                  class="alert alert-danger">Solo se aceptan valores positivos
           </div>
</mat-form-field>
</div>
<div fxLayout="row"
fxLayout.xs="column"
fxLayoutGap="20px">   
<mat-form-field fxFlex='100'
               fxLayout.xs="column">
   <mat-label>
       Cantidad:
   </mat-label>
   <input matInput 
           type="number" 
           placeholder="Ingresar cantidad"
           formControlName="cantidad"
           required>
           <div *ngIf="miForm.get('cantidad')?.touched && miForm.get('cantidad')?.errors?.['required']"
                  class="alert alert-danger">Este campo es obligatorio
           </div>
           <div *ngIf="miForm.get('cantidad')?.touched && miForm.get('cantidad')?.errors?.['min']"
                  class="alert alert-danger">Solo se aceptan valores positivos
           </div>
</mat-form-field>
</div>
<div fxLayout="row"
fxLayout.xs="column"
fxLayoutGap="20px">   
<mat-form-field fxFlex='100'
               fxLayout.xs="column">
   <mat-label>
       Descuento:
   </mat-label>
   <input matInput 
           type="number" 
           placeholder="Ingresar descuento"
           formControlName="descuento">
           <div *ngIf="miForm.get('descuento')?.touched && miForm.get('descuento')?.errors?.['min']"
                  class="alert alert-danger">Solo se aceptan valores positivos
           </div>
</mat-form-field>
</div>
<div fxLayout="row"
fxLayout.xs="column"
fxLayoutGap="20px">   
<mat-form-field fxFlex='100'
               fxLayout.xs="column">
   <mat-label>
       Recargo:
   </mat-label>
   <input matInput 
           type="number" 
           placeholder="Ingresar recargo"
           formControlName="recargo">
           <div *ngIf="miForm.get('recargo')?.touched && miForm.get('recargo')?.errors?.['min']"
                  class="alert alert-danger">Solo se aceptan valores positivos
           </div>
</mat-form-field>
</div>

   <div fxLayout> 
                <button mat-raised-button
                        color="primary"
                        type="submit"
                        [disabled]="miForm.invalid">
                    <mat-icon>edit</mat-icon>
                    Guardar
                </button>  
                <button mat-raised-button
                        color="primary"
                        (click)="goBack()">
                    <mat-icon>back</mat-icon>
                    Atras
                </button>  
                <div fxLayout="row"
             fxLayout.xs="column"
             fxLayoutGap="20px">   
            </div>     
            </div>
    </div>
</div>
</form>
</div>
</div>
<app-result-sale-detail></app-result-sale-detail>


